.about-page{

    margin:0 auto;
    /* background:linear-gradient(0deg, rgb(203, 204, 221), rgba(53, 53, 117, 0.8)); */
  box-sizing: border-box;
    padding:0 10px;
    display:flex;
    flex-direction: column;
    height:fit-content;
    min-height: 90vh;
    width:100%;
    max-width:900px;
  }
  .about-page h5{
    display:flex;
    margin:20px 10px;
    border:1px solid #213547;
    border-radius:5px;
    padding:1%;
  }

.about-image{
    width:30%;
    height:30%;
    border-radius:5px;
}
.about-image-text{
    width:20%;
    margin:auto;
}

.expanded{
    width:90%;
    left:5%;
    position:absolute;
    height:fit-content;
}
.about-images{
    display:flex;
    margin:20px auto;
    flex-direction: row;
    justify-content: space-around;


}
@media (max-width:600px){
 
    .about-images{
    flex-direction: column;
    
    }
    .about-image{
    margin:0 auto;
    padding:2%;
    width:60%;
    }
    .about-image-text{
        width:90%;
        margin:10px auto;
    }
    .expanded{
    width:100%;
    position:relative;
    padding:0;
    margin:0;
    left:0;
    }
}

