
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  height:fit-content;
  width:100%;
  max-width:100%;
 display:flex;
 flex-direction: column;
 /* flex-wrap: wrap; */
  text-align: center;
  /* border:10px solid green; */
  background:linear-gradient(0deg, rgb(203, 204, 221), rgba(247, 247, 250, 0.8));

}

.logo{
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin:0 10px;
  padding:0;
  
}
.navbar-container{
 border:1px solid black;
 border-radius:5px;
  max-width:95%;
}
p{
  display:inline-block;
  text-align: justify;
  margin:0 10px 0 10px;

}


.page{
  margin:0 auto;

box-sizing: border-box;
  padding:0 10px;
  display:flex;
  flex-direction: column;
  height:fit-content;
  min-height: 90vh;
  width:100%;
  max-width:900px;


  
}
.page h5{
 
  display:flex;
  margin:10px auto 10px 50px;
  
}

.title{
  display:flex;
  justify-content: center;
  margin:0 auto;

}
.description{
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin:0 auto;
  max-width:100%;
}
a{
  display:inline;
  text-decoration: none;
  color: #213547;
}
.triangle-container {
  position: relative;
  width: 75px; /* Adjust size as needed */
  height: 75px; /* Adjust size as needed */
  margin: 0 auto;
}

.triangle-face {
  position: absolute;
  text-align: center;
  font-size: 16px; /* Adjust size as needed */
  
}

.triangle-face.top {
  top: 0;
  left: 25%;

  transform:translateY(200%);
}

.triangle-face.left {
  bottom: 0;
  left: 10%;
  
  transform: translateY(-70%) rotate(-50deg);
  transform-origin: left bottom;
}

.triangle-face.right {
  bottom: 0;
  right: 15%;
  transform: translateY(-70%) rotate(50deg);
  transform-origin: right bottom;
}
.large-carousel{
  /* border:10px solid green; */
  display:flex;
align-items: center;
  margin:10px auto;
  height:500px;
  width:auto;
  max-width:100%;
}
.large-carousel img{
  border-radius: 10px;
  box-shadow:10px 5px 5px grey;
  display:flex;
  justify-content: center;
  margin:0 auto;
  max-height:500px;
  width:auto;
  max-width:100%;
}
.large-carousel img:hover{

  transform:scale(1.5);
}
.large-carousel-container{
  display:flex;

  flex-direction: column; 
  justify-content: center;
  margin:0 auto;
  /* padding:10px 0; */
  height:fit-content;
  width:100%;
  max-width:100%;
 
}

.picture-card{
  /* border:1px solid red; */
  /* box-sizing: border-box; */
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin:10px auto;
  /* padding:10px 30px 10px 30px; */
  height:fit-content;
  /* max-height: 300px; */
  width:100%;
  max-width:100%;

}
.picture-card p{
  /* min-width:30%; */
  max-width: 400px;
}


/* classes for fade in effect */
.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.fade-in.visible {
  opacity: 1;
}

.card-picture{
  position:relative;
  box-shadow:10px 5px 5px grey;
  /* border:1px solid black;  */
  border-radius: 10px;
  display:flex;
  justify-content: center;
  /* padding:10px; */
  height:100%;
  max-height:300px;
  width:auto;
  

  transition:all 0.5s ease-in-out;
  --hover-left: 0px;
  --hover-right: 0px;
}
.card-picture:hover{
  /* fix this later */
  /* left: var(--hover-left);
  right: var(--hover-right); */
  transform:scale(1.5);
}


.carousel-card{

  display:flex;
align-items: center;
  margin:10px auto;
  height:300px;
  width:100%;
  max-width:100%;
}
.carousel-card p{
  max-width:450px;
}
.carousel-container{
  display:flex;

  flex-direction: column;
  justify-content: center;
  margin:0 auto;
  /* padding:10px 0; */
 height:300px;
  max-height:300px;
  width:100%;
  max-width:100%;
}

.carousel-card img{
  border-radius: 10px;
  box-shadow:10px 5px 5px grey;
  display:flex;
  justify-content: center;
  margin:0 auto;
  height:auto;
  max-height:300px;
  width:auto;
  max-width:100%;
}
.carousel-card img:hover{

  transform:scale(1.5);
}

.case-study{
  display:flex;
  flex-direction: column;
  justify-content: center;
  border:1px solid black;
  border-radius:10px;

  height:fit-content;
  width:100%;
  max-width:100%;
}
.mixed-card{
display:flex;
flex-direction:row;
align-items: center;
}

.footer{
  display:flex;
  justify-content: center;
  margin:0 auto;
  padding:10px 0;
  height:fit-content;
  width:100%;
  max-width:100%;
}

/* .accordian-headers{
  background-color: blueviolet;
} */
 .accordian-headers{
  border-radius:10px;
  
  margin:0;
}


.accordian-headers button:not(.collapsed) {

  background-color:rgb(176, 160, 210)
}
.accordian-headers button.collapsed {
  
  background-color:rgb(124, 103, 167)
}



@media screen and (max-width: 900px) {
  .logo{
    font-size: 1.5rem;
    padding:0;
    margin:0;
  }
  .picture-card{
    display:flex;
    flex-direction: column;

    margin:10px auto;
    padding:10px 30px 10px 30px;
    height:fit-content;
    width:100%;
    max-width:100%;
  }
  .picture-card p{
    
    width:100%;
    display:inline-block;
    text-align: justify;
    margin:10px auto;
  }
  .card-picture{
    
    margin:0 auto;
    height:100%;
    width:auto;
    max-width:100%;
  
  }
  
  .mixed-card{
    flex-direction:column;
  }


  .carousel-card {
    border-radius: 10px;
  
    display:flex;
    flex-direction:column;
    justify-content: center;
    /* margin:0 auto; */
    height:100%;
    width:100%;
  }
  .carousel-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    padding:10px 0;
    height:fit-content;
    width:100%;
    max-width:100%;
  }
  .carousel-card .caption {
    padding:0;
    position:absolute;
    top:105px;
    display:flex;
    justify-content: center;
    margin:10px auto;
  }
  
}
@media (prefers-color-scheme: dark) {
  #root body html{
    background-color: #213547;
    color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #213547;
  }
}



@media (prefers-color-scheme: light) {
  #root html body {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
