.delete-modal {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin: auto;
    border: 1px solid red;
    border-radius:10px;
    background-color: white; 
    padding: 20px; /* Add some padding for content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
    z-index: 1003; 
}
.delete-modal-content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.delete-modal-buttons{
    display:flex;
    flex-direction:row;
    width:80%;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}
.delete-modal-buttons button{
    padding:5px;
    border-radius:5px;
    border:1px solid black;
    color:black;                                    

    background-color: white;
}

.delete-overlay {
  
    position: fixed; /* Position relative to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5) !important; /* Semi-transparent black */
    z-index: 1002; 
    pointer-events: none; 
}

body.modal-open {
    pointer-events: none; 
    overflow: hidden;
}

body.modal-open .delete-modal,
body.modal-open .delete-overlay {
    pointer-events: auto;
}