.profile-page{
    border:1px solid black;
    width:100%;
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    place-items: center;
    align-content: center;
    /* background:linear-gradient(45deg, rgba(155, 155, 224, 0.8), rgba(247, 247, 250, 0.8)); */
}
.profile-details{
    border:1px solid black;
    display:flex;
    flex-direction:column;
    text-align: center;
    margin:20px auto;
    /* width:300px; */
    max-width:100%;
  
    font: 1rem Arial, sans-serif;
    /* align-content:space-between; */
    /* justify-content: space-between; */
    /* align-items:flex-start; */
    
}
.profile-details img, .update-profile img{
    border-radius:50%;
    height:50px;
    width:50px;
    margin:0 auto;
}
.profile-item{
    /* border:1px solid rgb(60, 255, 0); */
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin:8px 0;
   
}

.profile-page h5{color:black;}

.profile-page p{
    display:flex;
    color:black;
}

.update-profile{
    border:1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    max-width:100%;
    padding:10px;

    font: 1rem Arial, sans-serif;
    /* align-content:space-between; */
    /* justify-content: space-between; */
    /* align-items:flex-start; */
}