.services-page{

    margin:0 auto;
    /* background:linear-gradient(0deg, rgb(203, 204, 221), rgba(53, 53, 117, 0.8)); */
  box-sizing: border-box;
    padding:0 20px;
    display:flex;
    flex-direction: column;
    
    height:fit-content;
    min-height: 90vh;
    width:100%;
    max-width:900px;

  
  
    
  }
  .services-page h5{
   
    display:flex;
    margin:10px auto 10px ;
    
  }
  #info{
    text-align: center;
  }

  details{
    display:flex;
  
    /* border:1px solid red; */
   width:100%;
   
   padding:5px;
  }
#summary{
  color:darkslategray;
 text-decoration: underline;
 text-align:left;
 padding:0 5% 0 ;
 width:100%;
 

}

#summary:hover{
  color:rgb(136, 81, 81);
}
.open{
  display:grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 2;
  text-align:left;
  margin:5px 50px;
  /* border:1px solid; */
  text-wrap: break-word;
 
}
.image-1{
  grid-column: 1;
  grid-row:1;
  /* border:2px solid green; */
  display:flex;
  flex-direction:column;
  justify-content:center;

}
.text-column{
  grid-column: 2 ;
  /* border:1px solid red; */
  text-wrap: break-word;
  padding:5%;
}
.image-2{
  grid-column: 3;
  /* border:2px solid green; */
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.image-column img{
  width:100%;

  margin:0 auto;
}
.larger-image{
  width:100%;
  position:absolute;
/* border:1px solid red; */
left:0%;
  height:fit-content;
}
.text-column ul{
  list-style: square;
  padding-left:20px;
}
.text-column li{
  list-style-type: disc;
}
.zx{
 border:1px solid red;
  width:85%;
  height:100%;
  overflow:hidden;
  position:absolute;
}

@media  (max-width:600px){
  .open{
    display:flex;
   flex-direction:column;
    text-align:left;
    margin:5px 50px;
    /* border:1px solid; */
    text-wrap: break-word;
   
  }
}