


.webpage img{
    z-index:1;
    margin:0 auto;

}
.certificate{
    height:18px;
    width:auto;
}
.webpage p{
    color:rgb(44, 41, 41);
    font-size:medium;
}
.webpage h1 {
    font-size:40px;
    color:rgb(19, 19, 19);
}
.webpage-links{
    padding:5px 20px 5px 20px;
    display:flex;
    
    border-radius:15px;
justify-content: space-around;
align-items: center;
/* align-content: center; */
max-width:100%;
}
.webpage-description {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin:0 auto;
    max-width:100%;
    color:white;
    font: 1rem Arial, sans-serif;
}
.webpage-description p{
    text-align:center;
}
.webserver, .nc-news {
    z-index:1;
    width:50%;
    height:auto;
    transition:all 0.5s ease-in-out;
    
}

.trackme, .sabotage, .safe-journey, .weather{
    
    z-index: 3;
    width:auto;
    height:300px;
   transition:all 0.5s ease-in-out;
    --hover-left: 0px;
    --hover-right: 0px;
}
 .sabotage:hover {
    transform:translateX(50%) scale(1.5);
    /* clip-path: polygon(34% 6%, 51% 15%, 69% 6%, 85% 18%, 86% 35%, 98% 41%, 94% 58%, 98% 70%, 85% 77%, 96% 92%, 76% 98%, 59% 93%, 46% 96%, 33% 89%, 20% 98%, 13% 86%, 0% 75%, 11% 58%, 3% 50%, 18% 39%, 10% 23%, 12% 3%); */
}
.webserver:hover, .nc-news:hover{
    transform:scale(1.5) 
    /* clip-path: circle(62.1% at 50% 50%); */
}
.trackme:hover{
    transform:translateX(-50%) scale(1.5) rotate(-20deg);
    border-radius:20px;
}
.safe-journey:hover{
    transform:translateX(-50%) scale(1.5) rotate(-20deg);
    border-radius:20px;
}
.weather:hover{
    transform:rotate(20deg) scale(1.5) translateX(50%) ;
    /* transform:rotate(150deg); */
  border-radius:20px;
}


.pre-footer {
    font-size:medium;
    color:rgb(33, 29, 29);
}
.certificate{
    transition:all 0.5s ease-in-out;
}
.certificate:hover{
    transform:translateY(1200%) translateX(-1200%) scale(30);
}


@media screen and ( max-width: 768px) {
    .webpage {
        display:flex;
        flex-direction:column;
        justify-content: center;
        margin:0 auto;
        max-width:100%;
    }
    .webpage img {
        display:flex;
        justify-content: center;
        margin:0 auto;
        max-width:100%;
    }
    .webpage-links {
        display:flex;
        flex-direction:column;
        justify-content: center;
        margin:0 auto;
        max-width:100%;
    }
    .webpage-description {
        display:flex;
        flex-direction:column;
        justify-content: center;
        margin:0 auto;
        max-width:100%;
    }
    .webserver, .nc-news, .sabotage, .safe-journey, .weather, .trackme {
     padding:10px auto;
    }
    .webserver, .nc-news {
        display:flex;
        flex-direction:column;
        justify-content: center;
        margin:0 auto;
        max-width:100%;
        width:100%;
    }
    .trackme {
        display:flex;
        flex-direction:column;
        justify-content: center;
        margin:0 auto;
        max-width:100%;
    }
    .pre-footer {
        display:flex;
        flex-direction:column;
        justify-content: center;
        margin:0 auto;
        max-width:100%;
    }
    .certificate:hover{
        transform:translateX(0) translateY(0) scale(1);
        width:100%;
        height:fit-content;
    }
}