.tv-screen-container{
/* border:1px solid green; */
 z-index:1;
  perspective: 2700px;
  position: absolute;
  top: 0;
  left: 1.3%;
  width:100%;
  opacity:1;
}



#tv-screen {
  /* border:1px solid red; */
  z-index: 9999;
outline:none;
  font-family: "zx81";
  /* font-weight:lighter; */

    position:absolute;
  top: 6vw;
  left:7vw;

  width:44vw;
  height:35vw;

  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
 transform: rotateY(32deg) rotateX(-15deg) rotateZ(-15deg) ;
}
#top,
#right,
#left,
#bottom
  {
  background-color: rgba(18, 18, 22,1);

opacity:1;
animation: load 0.051s ease-in-out 30 alternate forwards;

}
@keyframes load {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#top {
  position: relative;
  top: 55%;
  grid-column: 2;
  grid-row: 0;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(180deg);
}
#left {
  position: relative;
  left: 55%;

  grid-column: 0;
  grid-row: 2/3;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
#right {
  position: relative;
  left: -55%;

  grid-column: 3;
  grid-row: 2/3;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
#bottom {
  position: relative;
  top: -55%;

  grid-column: 2;
  grid-row: 3;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#writing {
/* border:1px solid black; */
  border-radius:7px;
    z-index: 2;
    font-size:5px;
    justify-content: left;
    overflow: hidden;
    outline:none;
    
    
    
    /* width: 100fr; */
    padding:10px;
    color:black;

  margin: 10px;
  background-color: rgba(82, 102, 113,0);
  grid-column: 2;
  grid-row: 2;

}
#finished{
  z-index: 2;
  justify-content: left;
  scrollbar-width:thin;
  overflow-y:auto;
  overflow-x:hidden;
  width: 100fr;
padding:10px;
outline:none;
  color: rgb(29, 28, 28);
  margin: 10px;
  background-color: rgba(82, 102, 113,0);
  grid-column: 2;
  grid-row: 2;
  transition:all 1s ease-in-out;
}
.paragraph {
  box-sizing: border-box;
  display: flex;
font-size: 1.05vw;
font-weight:lighter;
line-height: 1.3;
  text-align: start;
  width: 100%;
}
#buttons{

  position:absolute;
  top:100%;
  left:30%;
  display:flex;
  flex-direction: row;
  width:20%;
}

@media (max-width: 600px) {
#writing{
  overflow-y:scroll;
  scrollbar-width: thin;
}

  #tv-screen{
   top:42vw;
   left:23vw;
   height:78vw;
   width:94vw;
   
  }
.paragraph{
    font-size:12px;
  }
} 


